<!--	
	<div id="program-header">
	
	</div>
	
	<article id="program">
		<div class="content">
			<h3>The Program</h3>
			<section id="session-one" class="session-info">
				<div class="session-one-times">
					<ul class="first">
						<li class="session-times">9:00am</li>
						<li class="session-times-description">Registration begins</li>
					</ul>
					<ul>
						<li class="session-times">9:15am</li>
						<li class="session-times-description">Call for seating</li>
					</ul>
					<ul class="last">
						<li class="session-times">9:25am</li>
						<li class="session-times-description">TEDx Intro Video</li>
					</ul>
				</div>	
				<p class="session-time ribbon"><span>Session One</span> 9:30am - 10:35am</p>
				<div class="talk-info">
					<img src="images/speakers/.jpg" alt="Speaker Name Headshot"/>
					<h4>The War on Plastic</h4>
					<p><span>by Bill Kenney</span></p>
					<p>Bill Kenney’s unyielding passion for design developed at, and truly came to the forefront as he earned his BFA in Graphic Design at the University of Tampa. While a Bill led large freelance projects which convinced him of the viability of a design career.<p>
				</div>	
				<div class="talk-info">				
					<img src="images/speakers/.jpg" alt="Speaker Name Headshot"/>
					<h4>The War on Plastic</h4>
					<p><span>by Bill Kenney</span></p>
					<p>Bill Kenney’s unyielding passion for design developed at, and truly came to the forefront as he earned his BFA in Graphic Design at the University of Tampa. While a Bill led large freelance projects which convinced him of the viability of a design career.<p>
				</div>
				<div class="talk-info">
					<img src="images/speakers/.jpg" alt="Speaker Name Headshot"/>
					<h4>The War on Plastic</h4>
					<p><span>by Bill Kenney</span></p>
					<p>Bill Kenney’s unyielding passion for design developed at, and truly came to the forefront as he earned his BFA in Graphic Design at the University of Tampa. While a Bill led large freelance projects which convinced him of the viability of a design career.<p>
				</div>				
				
			</section>
		
			<section id="session-two" class="session-info">
				<div class="session-two-times">
					<ul class="first">
						<li class="session-times">10:35am</li>
						<li class="session-times-description">Break time</li>
					</ul>
					<ul class="last">
						<li class="session-times">11:25am</li>
						<li class="session-times-description">TEDx Video: Time of Turbulence</li>
					</ul>
				</div>
				<p class="session-time ribbon"><span>Session Two</span> 9:30am - 10:35am</p>
				<div class="talk-info">
					<img src="images/speakers/.jpg" alt="Speaker Name Headshot"/>
					<h4>The War on Plastic</h4>
					<p><span>by Bill Kenney</span></p>
					<p>Bill Kenney’s unyielding passion for design developed at, and truly came to the forefront as he earned his BFA in Graphic Design at the University of Tampa. While a Bill led large freelance projects which convinced him of the viability of a design career.<p>
				</div>					
				<div class="talk-info">
					<img src="images/speakers/.jpg" alt="Speaker Name Headshot"/>
					<h4>The War on Plastic</h4>
					<p><span>by Bill Kenney</span></p>
					<p>Bill Kenney’s unyielding passion for design developed at, and truly came to the forefront as he earned his BFA in Graphic Design at the University of Tampa. While a Bill led large freelance projects which convinced him of the viability of a design career.<p>
				</div>
				<div class="talk-info">
					<img src="images/speakers/.jpg" alt="Speaker Name Headshot"/>
					<h4>The War on Plastic</h4>
					<p><span>by Bill Kenney</span></p>
					<p>Bill Kenney’s unyielding passion for design developed at, and truly came to the forefront as he earned his BFA in Graphic Design at the University of Tampa. While a Bill led large freelance projects which convinced him of the viability of a design career.<p>
				</div>					
			</section>

			<section id="session-three" class="session-info">
				<div class="session-three-times">
					<ul class="first">
						<li class="session-times">1:08pm</li>
						<li class="session-times-description">Lunch time</li>
					</ul>
					<ul class="last">
						<li class="session-times">2:30pm</li>
						<li class="session-times-description">TEDx Video: Time of Turbulence</li>
					</ul>
				</div>
				<p class="session-time ribbon"><span>Session Three</span> 2:45pm - 3:37pm</p>
				<div class="talk-info">
					<img src="images/speakers/.jpg" alt="Speaker Name Headshot"/>
					<h4>The War on Plastic</h4>
					<p><span>by Bill Kenney</span></p>
					<p>Bill Kenney’s unyielding passion for design developed at, and truly came to the forefront as he earned his BFA in Graphic Design at the University of Tampa. While a Bill led large freelance projects which convinced him of the viability of a design career.<p>
				</div>
				<div class="talk-info">
					<img src="images/speakers/.jpg" alt="Speaker Name Headshot"/>
					<h4>The War on Plastic</h4>
					<p><span>by Bill Kenney</span></p>
					<p>Bill Kenney’s unyielding passion for design developed at, and truly came to the forefront as he earned his BFA in Graphic Design at the University of Tampa. While a Bill led large freelance projects which convinced him of the viability of a design career.<p>
				</div>					
				<div class="talk-info">
					<img src="images/speakers/.jpg" alt="Speaker Name Headshot"/>
					<h4>The War on Plastic</h4>
					<p><span>by Bill Kenney</span></p>
					<p>Bill Kenney’s unyielding passion for design developed at, and truly came to the forefront as he earned his BFA in Graphic Design at the University of Tampa. While a Bill led large freelance projects which convinced him of the viability of a design career.<p>
				</div>
			</section>
			<section id="session-four" class="session-info">
				<div class="session-four-times">
					<ul>
						<li class="session-times">3:37pm</li>
						<li class="session-times-description">Break time</li>
					</ul>
				</div>	
				<p class="session-time ribbon"><span>Session Four</span> 4:20pm - 5:30pm</p>
				<div class="talk-info">
					<img src="images/speakers/.jpg" alt="Speaker Name Headshot"/>
					<h4>The War on Plastic</h4>
					<p><span>by Bill Kenney</span></p>
					<p>Bill Kenney’s unyielding passion for design developed at, and truly came to the forefront as he earned his BFA in Graphic Design at the University of Tampa. While a Bill led large freelance projects which convinced him of the viability of a design career.<p>
				</div>
				<div class="talk-info">
					<img src="images/speakers/.jpg" alt="Speaker Name Headshot"/>
					<h4>The War on Plastic</h4>
					<p><span>by Bill Kenney</span></p>
					<p>Bill Kenney’s unyielding passion for design developed at, and truly came to the forefront as he earned his BFA in Graphic Design at the University of Tampa. While a Bill led large freelance projects which convinced him of the viability of a design career.<p>
				</div>					
				<div class="talk-info">
					<img src="images/speakers/.jpg" alt="Speaker Name Headshot"/>
					<h4>The War on Plastic</h4>
					<p><span>by Bill Kenney</span></p>
					<p>Bill Kenney’s unyielding passion for design developed at, and truly came to the forefront as he earned his BFA in Graphic Design at the University of Tampa. While a Bill led large freelance projects which convinced him of the viability of a design career.<p>
				</div>
				<div class="session-five-times">
					<ul class="first">
						<li class="session-times">5:30pm</li>
						<li class="session-times-description">Closing Thoughts</li>
					</ul>
					<ul class="last">
						<li class="session-times">6:00pm</li>
						<li class="session-times-description">After Party: Presented by Savannah StopOver</li>
					</ul>
				</div>
			</section>
		</div>	
	</article> -->
